<div class="container">
    <div class="form-box">
        <img class="logo" src=".\resources\images\electron-security_200x200.png" alt="Electron Pass Managuer" height="200" wclassth="200">
        <div class="form-input-box form-header">
            <h3>Sign-in</h3>
        </div>
        <div class="form-input-box form-email">
            <label>Email</label>
            <input type="text" name="email" value="paco@gmail.com" placeholder="john@gmail.com...">
            <div class="form-alert"></div>
        </div>
        <div class="form-input-box form-password">
            <span>Password</span>
            <input type="password" name="password" value="paco1234" placeholder="**********">
            <div class="form-alert"></div>
        </div>
        <div class="form-input-box form-confirm-password" style="display: none;">
            <span>Confirm Password</span>
            <input type="password" name="password" placeholder="**********">
            <div class="form-alert"></div>
        </div>
        <div class="form-input-box form-footer">
            <button class="btn-action" action="S">Continue</button>
            <div class="form-alert"></div>
            <p id="form-signin">
                Already have an account? Sign in
            </p>
            <p id="form-forgot-password">
                Forgot password?
            </p>
        </div>
    </div>
</div>