<div class="container">
    <img src=".\resources\images\electron-security_200x200.png" alt="Electron Pass Managuer" height="200" width="200">
    <div id="username">
        Email<input type="text" name="FirstName" placeholder="john@gmail.com...">
    </div>
    <div id="password">
        Password<input type="password" name="FirstName" placeholder="**********">
    </div>
    <div id="forgot">Forgot password?</div>
    <div id="btn-login" style="text-align: left;">
        LOGIN
    </div>
</div>