
.container {
    background-color: blueviolet;
    grid: initial;
    display: grid;
    width: 55%;
    height: 55%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "header header"
    "input input"
    "input2 input2"
    "input3 input3"
    "btn btn"
    "footer footer";
    align-content: center;	
}

#logo {
    justify-self: center;
    align-self: center;
    grid-area: header;
}
#form-email {
    justify-self: center;
    align-self: center;
    grid-area: input;
}
#form-password {
    justify-self: center;
    align-self: center;
    grid-area: input2;
}
#form-confirm-password {
    justify-self: center;
    align-self: center;
    grid-area: input3;
}
#form-forgot {
    justify-self: center;
    align-self: center;
    grid-area: btn;
}
#btn-login {
    justify-self: center;
    align-self: center;
    grid-area: footer;
}