
/* .container {
    height: 50%;
    width: 50%;
} */


.form-box .form-input-box {
    display: flex;
    flex-direction: column; 
}

.form-box {
    align-items: center;
}

button {
    border: none;
    background-color: #9FEAF9;
}

#form-signin:hover {
    color: white;
}

#form-forgot-password:hover {
    color: white;
}

/* .form-input-box {
    align-self: stretch;
} */

