<div class="container">
    <img src=".\resources\images\electron-security_200x200.png" alt="Electron Pass Managuer" height="200" width="200">
    <div id="form-email">
        <span>Email</span>
        <input type="text" name="email" placeholder="john@gmail.com...">
    </div>
    <div id="form-password">
        <span>Password</span>
        <input type="password" name="password" placeholder="**********">
    </div>
    <div id="form-forgot">Forgot password? 
        <span>New Account</span>
    </div>
    <div id="btn-login">
        LOGIN
    </div>
</div>