<div class="container">
    <div>
        Cuenta: Facebook
    </div>
    <div>
        Email: paco@gmail.com
    </div>
    <div>
        username: paco
    </div>
    <div>
        password: paco1234 (este div en modo display contendrá un boton para modificar, y otro para copiar al clipboard)
    </div>
    <div>
        Confirmar pass: paco1234  (este div estará oculto al visualizar pass)
    </div>
    <div>
        descripcion: La cuenta para conectarme a facebook. (preguntas secretas.. etc)
    </div>
    <div>
        Icono: (subes un icono de facebook)
    </div>
</div>