<div class="container">
    <!-- Al clikar en la fila entraras en el modo editar -->
    <div id="list-accounts">
        <table>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
            </tr>
            <tr>
                <td><img src="https://picsum.photos/64"></td>
                <td>Facebook</td>
            </tr>
            <tr>
                <td><img src="https://picsum.photos/64"></td>
                <td>Instagram</td>
            </tr>
        </table>
    </div>
</div>